html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-section {
  min-height: 100vh;
  background-color: #232323;
  color: #fff;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;

  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 1px
    );

  /* Стили для звёздочек */
  .star {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 50px;
    animation: twinkle 3s infinite alternate;

    &-1 {
      top: 5%;
      left: 14%;
    }
    &-2 {
      top: 5%;
      right: 13%;
      animation-delay: 0.5s;
    }
    &-3 {
      bottom: 9%;
      left: 18%;
      animation-delay: 1s;
    }
    &-4 {
      bottom: 23%;
      right: 38%;
      animation-delay: 1.5s;
    }
  }

  .bg-light {
    position: absolute;
    right: 250px;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
    height: 60%;
    background-image: url("../../../img/sprites/bgLight.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }

  .container-hero {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 2;

    .container-left {
      position: relative;
      z-index: 3;
      width: 450px;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 img {
        max-width: 100%;
        height: auto;
      }

      p {
        font-size: 32px;
      }

      img[alt="downloadApp"] {
        max-width: 300px;
      }
    }

    .container-right {
      position: relative;
      width: 50%;
      height: 100%;
      min-height: 70vh;
      z-index: 4;

      &::before {
        content: "";
        position: absolute;
        top: -100px;
        left: 67%;
        transform: translateX(-50%);
        width: 800px;
        height: 800px;
        background-image: url("../../../img/sprites/cylinderWhite.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      }

      &__image {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
