// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

html,
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Gotham Pro", "Lato", "Open Sans", "Montserrat", "Raleway",
    "Ubuntu", Calibri, Arial, sans-serif !important;
}
